section.banner
  .container
    .banner__slider.js-banner-slider
     -var num = 1
     while (num < 4) 
      .js-banner-slider-item
        .banner__item
          h1.banner__item-headings
            span.banner__item-title
              |Best Creative Studio
            span.banner__item-title.banner__item-title--lg
              |Design / Branding / WordPres
            span.banner__item-title.banner__item-title--sm
              |We Make Great Ideas Happen
          a(href="#777").banner__item-btn
            |learn more
      -num++




    