.quote.g-section
  .container
    .quote__row
      .quote__text
        p
          |Simplicity is about subtracting the obvious and adding the meaningful
        .quote__left-quote
          |“
        .quote__right-quote
          |“
      p.quote__author
        |John Maeda
