.g-section.tweet
  .container
    .tweet__icon-wrap
      +icon('twitter')
    .tweet__text
      |Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh 
      a(href="#777").tweet__text-link
        |ow.ly/ttlwd
    .tweet__date
      |3 hours ago